.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
::-webkit-scrollbar {display:none;}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
}

.music {
  display: flex;
  flex-direction: column;
}

.music-vid-holder{
  width:500px;
  height:1000px;
  overflow: scroll;
}
.locale-body {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
}

.locale-vid-holder{
  width:1700px;
  height:1000px;
  overflow: scroll;
}